  <!-- Footer -->
    <footer>
        <div class="footer-section">
            <h3>Contacto</h3>
            <ul>
                <li>Dirección: Calle Falsa 123</li>
                <li>Teléfono: +123 456 789</li>
            </ul>
        </div>
        <div class="footer-section">

        </div>
        
        <div class="footer-section">
            <h3>Redes sociales</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                 <li><a href="#">Instagram</a></li>

            </ul>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2025 AGG.</p>
        </div>
    </footer>
    