<!-- Header -->
<header>
    <div class="logo-container">
        <img src="{{ asset('images/logo3.svg') }}" alt="Logo" class="logo">
        <span class="logo-text">LUBRICENTRO</span>
    </div>

    <div class="menu-toggle">≡</div>

    <nav id="main-nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>        
        </ul>
    </nav>
</header>